body {
    background-color: #333;
}

header {
    background-color: #444;
    padding: 20px;
    font-family: 'Consolas';
    border-radius: 10px;
    display: flex;
    height: fit-content;
    align-items: center;
}

.main0 {
    background-color: #444;
    padding: 50px;
    font-family: 'Consolas';
    border-radius: 10px;
    height: fit-content;
    align-items: center;
    color: white;
}

.main1 {
    background-color: #444;
    padding: 50px;
    font-family: 'Consolas';
    border-radius: 10px;
    height: fit-content;
    text-align: center;
    color: white;
}

.logintext {
    transition: .5s;
    text-decoration: none;
    color: #333;
}

.logintext:hover {
    text-decoration: none;
    color: white;
}

.navitems {
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: 2vb;
    transition: .5s;
}

.navitems:hover {
    padding-right: 50px;
    padding-left: 50px;
    color: #444;
    background-color: white;
    border-radius: 50px;
}

.logotext {
    color: white;
    padding-right: 50px;
    font-size: 5vb;
    transition: .5s;
}

.button1 {
    transition: .5s;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.button1:hover {
    background-color: white;
    color: #04AA6D; 
}